#monacor {
	 width : 410px; 
	 height: 85px;
	}
#dune {
	 width: 410px;
	 height: 85px;
	}


#menuChoix{
	background-color:#BDBDBD;
}

#cvs{
	width:110px;
	height:60px;
}

#tabHeader{
	border:1px;
	width:1500px;
}

#thHeader1 {
	width:15%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader2 {
	width:10%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader3 {
	width:6%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader4 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader5 {
	width:6%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader6 {
	width:3%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader7 {
	width:3%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader8 {
	width:3%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader9 {
	width:15%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader10 {
	width:13%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader11 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader12 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader13 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader14 {
	width:7%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#thHeader15 {
	width:16%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter1 {
	width:15%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter2 {
	width:10%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter3 {
	width:6%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter4 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter5 {
	width:6%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter6 {
	width:3%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter7 {
	width:3%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter8 {
	width:3%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter9 {
	width:15%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter10 {
	width:13%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter11 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter12 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter13 {
	width:4%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter14 {
	width:7%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdfooter15 {
	width:16%;
	background-color:#749bff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody1 {
	width:15%;
	background-color:#b7cdff;
	font-family:Arial, Helvetica, sans-serif;
}
#tdBody2 {
	width:10%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody3 {
	width:6%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody4 {
	width:4%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody5 {
	width:6%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody6 {
	width:3%;
	background-color:#b7cdff;
	font-family:Arial, Helvetica, sans-serif;
}
#tdBody7 {
	width:3%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody8 {
	width:3%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody9 {
	width:2%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody10 {
	width:13%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody11 {
	width:4%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody12 {
	width:4%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody13 {
	width:4%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody14 {
	width:7%;
	background-color:#b7cdff;
	font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}
#tdBody15 {
	width:16%;
	background-color:#b7cdff;
	font-family:Arial, Helvetica, sans-serif;
}