td {
    line-height: 1.45;
}

body {
	background-color: #E1E1E1;
	max-width:100%;
	}
/* initialisation des images */	

#oeil-bleu{
	width: 5px; 
	height: 5px;
	}

/* fin d'initialisation des images */	

/* initialisation de la taille du tableau */

@media screen and (max-width:100%) { /*sers pour le responsive web design */
#tab {max-width:100%;}
#tdHeader1 {max-width:5%; }
#tdHeader2 {max-width:9%; }
#tdHeader3 {max-width:5%; }
#tdHeader4 {max-width:3%; }
#tdHeader5 {max-width:1%; }
#tdHeader6 {max-width:5%; }
#tdHeader7 {max-width:3%; }
#tdHeader8 {max-width:25%; }
#tdHeader9 {max-width:2%; }
#tdHeader10 {max-width:32%; } /*40 de base*/
#tdHeader11 {max-width:5%; }
#tdHeader12 {max-width:5%; }

#tdBody1 {max-width:5%; }
#tdBody2 {max-width:9%; }
#tdBody3 {max-width:5%; }	
#tdBody4 {max-width:5%; }
#tdBody5 {max-width:1%; }
#tdBody6 {max-width:2%; }
#tdBody7 {max-width:3%; }
#tdBody8 {max-width:25%; }
#tdBody9 {max-width:2%; }
#tdBody10 {max-width:32%; }
#tdBody11 {max-width:5%; }	
#tdBody12 {max-width:5%; }

}
/* fin d'initialisation de la taille du tableau */
/*initialisation du style du tableau*/
#tab {
	border:1px;
	border-style: double;
	font-weight:normal;
	}
	
#tdHeader1 {
	color:#A4A4A4;
	border-style: solid;
	}
#tdHeader2 {
	color:#2E2E2E;
	border-style: solid;
	}
#tdHeader3 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader4 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader5 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader6 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader7 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader8 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader9 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader10 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader11 {
	color:#2E2E2E;
	border-style: solid; 
	}
#tdHeader12 {
	color:#2E2E2E;
	border-style: solid; 
	}

#tdBody1 {
	color:#A4A4A4;
	}
#tdBody2 {
	color:#084B8A;
	}
#tdBody3 {
	color:#084B8A;
	}	
#tdBody4 {
	color:#084B8A;
	}
#tdBody5 {
	color:#084B8A;
	}
#tdBody6 {
	color:#084B8A;
	}
#tdBody7 {
	color:#084B8A;
	}
#tdBody8 {
	color:#084B8A;
	}
#tdBody9 {
	color:#084B8A;
	}
#tdBody10 {
	font-size:12px;
	color:#388403;
	}	
#tdBody11 {
	color:#084B8A;
	}
#tdBody12 {
	font-size:6px ;
	}

/*fin d'initialisation du style du tableau*/
