h1 
{
    text-align: center;
    margin-bottom: 8%;
}

.container
{
    padding: 0;
    margin: 0;
}

#boutonEnregistrer
{
    text-align: center;
}

.dataTables_wrapper.no-footer
{
    margin-top:2%;
}

.invisible
{
    display: none;
}

.fermerModale
{
    max-height:50px;
}

.supprimer, .modifier
{
    text-align:center;
}

#tableauSchemas, #tableauDidactitiels
{
    max-width:100%;
}